.snakemake/
.cache/
.snakemake-venv/
.venv/
__pycache__/
*.pyc

results/
tmp/
biolib_results/

*.gb
*.gbk
*.fna
*.faa
*.gff
*.xml
*.ndb
*.nhr
*.nin
*.njs
*.not
*.nsq
*.ntf
*.nto
*.pdb
*.phr
*.pin
*.pot
*.psq
*.ptf
*.pto

input/query/query.fasta
input/user_references/*
!input/user_references/.gitkeep
